/* UNIVERSAL STYLING ---------------------------------------- */
* {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: #FFFBF3;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hidden {
	display: none;
}

/* HEADER---------------------------------------------------- */
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  margin: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  padding: 5px 40px 5px 40px;
}

.rock-paper-scissors-logo {
  width: 100px;
  height: 100px;
  padding: 5px 40px 5px 40px;
}

/*  MAIN---------------------------------------------------- */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 30px 5px 30px;
  height: 80vh;
}
/* ASIDES---------------------------------------------------- */
.player-aside {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.player-icon {
  width: 60px;
  height: 60px;
}

.player-name {
  margin: 5px 0px 10px 0px;

}

.player-icon-and-name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 5px 10px 5px;
  font-size: 20px;
}

/* CENTER---------------------------------------------------- */
h2 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  font-size: 24px;
  margin: 20px 5px 10px 5px;
}

.center {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* CHOOSE YOUR GAME---------------------------------------------- */
.game-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 35px;
  width: 350px;
  height: 250px;
  margin: 20px 5px 20px 5px;
  background-color: #96BE8C;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.game-rules {
  background-color: #96BE8C;
  width: 200px;
  text-align: center;
  margin: 3px 5px 3px 5px;
  font-weight: 400;
  font-size: 15px;
}

.title {
  background-color: #96BE8C;
  margin: 10px 5px 10px 5px;
}

/* GAME PLAY------------------------------------------------ */
.change-game-button {
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 35px;
  background-color: #96BE8C;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  margin: 50px 30px 30px 30px;
}

.rock,
.paper,
.scissors,
.lizard,
.alien {
  width: 125px;
  height: 125px;
  margin: 15px;
}

/* RESULTS--------------------------------------------------------------- */
.results-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.results-announcement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 50px 30px 30px 30px;
}
